@model Job
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    textarea{
        text-align: center;
    }
</style>
<body>
        <form asp-controller="User" asp-action="logout" method="post"> <button> log out</button></form>
        <form asp-controller="Job" asp-action="jobs" method="get"> <button> home</button></form>
    <form asp-controller="Job" asp-action="createJob" method="post">
                <div>
                <label asp-for="title"></label>
                <input type="text" asp-for="title" id="">
                <span asp-validation-for="title"></span>
                </div>

                <div class="description">
                <label asp-for="description"></label>
                <textarea asp-for="description" cols="50" rows="5" placeholder="we recomment to give a description of your company some the people know what the company does "></textarea>
                <span asp-validation-for="description" ></span>
                </div>

                <div>
                <label asp-for="payment"></label>
                <input  asp-for="payment" type="number" id="">
                <span asp-validation-for="payment" ></span>
                </div>

                <div>
                <label asp-for="payTime"></label>
                <select asp-for="payTime" >
                    <option value="">select pay Time</option>
                    <option value="per Min">per Min</option>
                    <option value="per Hr">per Hr</option>
                    <option value="per Day">per Day</option>
                </select>
                <span asp-validation-for="payTime" ></span>
                </div>

                <div>
                <label asp-for="hours"></label>
                <input  asp-for="hours" type="number" id="">
                <span asp-validation-for="hours" ></span>
                </div>

                <div>
                <label asp-for="time"></label>
                <select asp-for="time" >
                    <option value="">select time</option>
                    <option value="Min">Min</option>
                    <option value="Hrs">Hrs</option>
                    <option value="Days">Days</option>
                </select>
                <span asp-validation-for="time" ></span>
                </div>

            @* @if (Model.jobCreator.createdCompanies != null){
                <div>
                <label asp-for="company"></label>
                <select asp-for="company" >
                    <option value="">select company</option>
                    @foreach (var item in Model.jobCreator.createdCompanies)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="company" ></span>
                </div>
            } *@

                <div>
                <label asp-for="image"></label>
                <input  asp-for="image" id="">
                <span asp-validation-for="image" ></span>
                </div>


                <div>
                <label asp-for="city"></label>
                <input  asp-for="city" id="">
                <span asp-validation-for="city" ></span>
                </div>

                <div>
                <label asp-for="country"></label>
                <input  asp-for="country" id="">
                <span asp-validation-for="country" ></span>
                </div>

                <div>
                <label asp-for="address"></label>
                <input  asp-for="address" id="">
                <span asp-validation-for="address" ></span>
                </div>

                <div>
                <label asp-for="postalCode"></label>
                <input  asp-for="postalCode" type="number" id="">
                <span asp-validation-for="postalCode" ></span>
                </div>

                <button>create</button>
    </form>
</body>
</html>